body
{
	padding:0px;
	background-color:#eee; 
}
#jumbo1{
	background-color: #f7507f;
}
#jumbo1 h1{
	padding-top: 30px;
}
form{
	margin-top:90px;
	overflow: auto;
}
#container{
	margin-top:80px;
	font-style: italic;
	font-weight: bold;
	font-size: 30px;
}
#button{
	margin-top:82px;
}