<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <title>About us</title>

    
    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/saga.css">
    <link href='http://fonts.googleapis.com/css?family=Shadows+Into+Light' rel='stylesheet' type='text/css'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js"></script>
    
  </head>

<body>
  <div id="mainbody">
             <div id="jumbotron" class="jumbotron">
                <div id="container"class="container">
                  
                      <h1>ABOUT US</h1>

                </div>
             </div>
                
            
           <nav class="navbar navbar-inverse navbar-fixed-top">
              <div class="container">

                <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                     <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                  <a  id="project"class="navbar-brand" href="#">Project name</a>
                </div>

                <div id="navbar" class="collapse navbar-collapse">
                  <ul class="nav navbar-nav navbar-right">
                    <li ><a href="/">Home</a></li>
                    <li class="active"><a href="/about">About</a></li>
                    <li ><a href="/signup">Sign Up</a></li>
                   
                  </ul>

                </div>

               </div>
            </nav>

                <div id="j1"class="jumbotron">
                 <div class="container" >
                    <div class="row" >
                      <div class="col-md-8">
                        <h3>HOW IT BEGAN</h3>
                        <p>it was a hackathon and we people were given a task in which we have to make an appication that can be used by all and the most important thing was that we have to make use of some apis .After thinking alot we came with this idea that tries to help a person lost in an area who only knows his/her native language.the app tries to provide the shortest route to the person from his current location to destination location.</p>
                      </div>

                      <div class="col-md-2">
                      </div>


                    </div>
                  </div>
                </div>

                 
                <div class="jumbotron">
                 <div class="container" >
                    <div class="row" >

                      <div class="col-md-3" >
                        <div id="member"><h3 > MEMBER 1</h3></div>
                          <div id="info">
                            <img src="/img/shourya.jpg" id="sm">
                              <h5>   NAME:SHOURYA MITTAL</h5>
                              <h5>   EMAIL-ID:mittalshourya97@gmail.com</h5>
                              <h5>   GITHUB LINK:</h5>
                              <h5>   LANGUGAES:HTML,CSS,JAVASCRIPT,<br>C,C++</h5>
                          </div>
                              
                      </div>

                      <div class="col-md-3" >
                          <div id="member"><h3 >MEMBER 2</h3></div>
                            <div id="info">
                              <img src="/img/abhi.jpg" id="ac">
                                <h5>   NAME:ABHIJEET CHAUHAN</h5>
                                <h5>   EMAIL-ID:abhijeet_chauhan@yahoo.co.in</h5>
                                <h5>   GITHUB LINK:</h5>
                                
                                <h5>   LANGUAGES:HTML,CSS,JAVASCRIPT,<br>PYTHON,C</h5>
                            </div>
                          
                      </div>
                      
                      <div class="col-md-3" >
                          <div id="member"><h3 >MEMBER 3</h3></div>
                              <div id="info">
                                <img src="/img/gaurav.jpg" id="gs">
                                  <h5>   NAME:GAURAV SHRESTHA</h5>
                                  <h5>   EMAIL-ID:gaurav.shrestha04@gmail.com</h5>
                                  <h5>   GITHUB LINK:</h5>
                                  
                                  <h5>   LANGUAGES:HTML,CSS,JAVASCRIPT,<br>C,C++</h5>
                              </div>
                                      
                      </div>
                      
                      <div class="col-md-3" >
                         <div id="member"><h3 > MEMBER 4</h3></div>
                            <div id="info">
                              <img src="/img/akul.jpg" id="am">
                                <h5>   NAME:AKUL MEHRA</h5>
                                <h5>   EMAIL-ID:mehra.akul@gmail.com</h5>
                                <h5>   GITHUB LINK:</h5>
                                
                                <h5>   LANGUAGES:HTML,CSS,JAVASCRIPT,PYTHON,<br>C,C++</h5>
                            </div>
                        
                      </div>

                    </div>
                  </div>
                </div>

        
      
      

     <footer>
        <div class="container" >
          <div class="row" >
            <div class="col-md-6 col-offset-2" >
              <ul>
                <li><a href="#" >Developers</a></li>
                <li><a href="#" >Privacy Policy</a></li>
                <li><a href="#" >Other Projects</a></li>
              </ul>
            </div>
          </div>
        </div>
      </footer>

  </div>

</body>
</html>