<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Hackathon</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/css01.css">
    <link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Noto+Sans' rel='stylesheet' type='text/css'>
    </head>

  <body>
  

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand pname" href="#">Pro Name</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            
            <li><a href="/signup">Sign Up</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="jumbotron" id="jumbo1">
        <div class="container">
          <div class="header">

          <h1 id="heading">Lost Somewhere? Don't Know The Way?</h1>
          <h2>We are here to help You!!!!</h2> 
            </div>
        </div>  
  </div>

  <div class="jumbotron" id="jumbo2">
      <div class="container">
      <div class="row">
      <div class="col-md-4" id="button1">
      <h2 id="step">STEP 1:</h2>
      <a class="btn btn btn-danger btn-large" href="/CurrentLocation">Get Your Current Location &raquo;</a>
         <h2> Click on the "Get Your Current Location" and a new window will open which shows your current location. </h2>
        </div>
        
          <div class="col-md-4" id="button3">
              <h2 id="step">STEP 2:</h2>
              <a class="btn btn-info btn-large" href="/nearby">Nearby Places &raquo;</a>
              <h2> Click on the "Nearby places" and a new window will open showing the nearest hospitals,atm,car-repair centre and much more.
              </h2>
              </div>

          <div class="col-md-4" id="button2">
          <h2 id="step">STEP 3:</h2>
          <a class="btn btn btn-primary btn-large" href="/Destination">Your Destination &raquo;</a><br>
          <h2>Click on the "Your Destination" and a new window will open showing your current location and ask you to enter your destination.  </h2>
          
</div>    

</div>
</div>
</div>
<footer>
  <ul>
      <li><a href="#">Developers</a></li>
      <li><a href="#">Privacy Policy</a></li>
      <li><a href="#">Home</a></li>
  </ul>
</footer>  
    

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="/js/bootstrap.js"></script>
  </body>
</html>














        </div>
        </div>